[submodule "subprojects/SPIRV-Tools"]
	path = subprojects/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "subprojects/SPIRV-Headers"]
	path = subprojects/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "subprojects/Vulkan-Headers"]
	path = subprojects/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "subprojects/Vulkan-Loader"]
	path = subprojects/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "subprojects/Vulkan-Utility-Libraries"]
	path = subprojects/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "subprojects/Vulkan-ValidationLayers"]
	path = subprojects/Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
[submodule "subprojects/volk"]
	path = subprojects/volk
	url = https://github.com/zeux/volk.git
